<footer class="footer">
    <div class="container">
        <div class="social">
            <h3> Mantém-te ligado. </h3>
            <a href="https://www.facebook.com/pampermept/">
                <img  class="icon-social" src="/images/facebook-logo.png">
            </a>
            <a href="http://instagram.com/pampermeportugal/">
                <img  class="icon-social" src="/images/instagram-logo.png">
            </a>
            <br>
            <br>
            <p> © 2017 Pamper Me Portugal. All rights reserved. </p>
        </div>
        </div>
</footer>