<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="Brand" class="navbar-img" src="images/logo.png">
            </a>
        </div>
        <div class="clearfix hidden"></div>
        <div class="pull-right">
        {{# if client }}
            <div class="btn-group group-action">
                <button type="button" class="btn btn-default btn-sm" href="/user/profile">Zézocas</button>
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Agendamento</a></li>
                    <li><a href="#">Histórico</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/user/logout">Sair</a></li>
                </ul>
                <img src="img/cara-girl.jpg" class="img-circle img-action">
            </div>
        {{else}}
            {{# if babySitter}}
            <div class="btn-group group-action">
                <button type="button" class="btn btn-default btn-sm" href="/user/profile">Zézocas</button>
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Agendamentos</a></li>
                    <li><a href="#">Disponibilidade</a></li>
                    <li><a href="#">Histórico</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/user/logout">Sair</a></li>
                </ul>
                <img src="img/cara-girl.jpg" class="img-circle img-action">
            </div>
            {{else}}

                <div class="btn-group">
                    <a href="/login" class="btn btn-primary navbar-btn">Entrar</a>
                    <a href="/register" class="btn btn-success navbar-btn">Registar</a>
                </div>
            </div>
            {{/if}}
        {{/if}}
    </div>
</nav>