<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method="post" action="/register">
    <label>register</label>
    <input type="email" name="email">
    <input type="password" name="password">
    <button type="submit" id="btnSubmit">Submit</button>
</form>

<form method="post" action="/login">
    <label>login</label>
    <input type="email" name="email">
    <input type="password" name="password">
    <button type="submit" id="btnSubmit">Submit</button>
</form>
