<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill"
                 style="background-image:url('images/happyFamily.jpg')"></div>
            <div class="carousel-caption">
                <h1>PamperMe</h1>
                <p>Cuidamos do seu filho de forma divertida</p>
            </div>
        </div>
        <div class="item">
            <div class="fill"
                 style="background-image:url('images/happyBeach.jpg')"></div>
            <div class="carousel-caption">
                <h1>PamperMe</h1>
                <p>Cuidamos do seu filho de forma divertida</p>
            </div>
        </div>
        <div class="item">
            <div class="fill"
                 style="background-image:url('images/happyKids.jpg')"></div>
            <div class="carousel-caption">
                <h1>PamperMe</h1>
                <p>Cuidamos do seu filho de forma divertida</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div class="jumbotron jumbotron-missao">
    <div class="container">
        <h2>Missão</h2>
        <br>
        <span>Pretendemos ser uma empresa de referência na àrea do babysitting. Asseguramos uma vocação em ligar as familias aos babysitters de uma forma segura e de confiança.</span>
    </div>
</div>
<div class="jumbotron jumbotron-visao">
    <div class="container">
        <h2>Visão</h2>
        <br>
        <span>Temos como objetivo é ser uma referência como empresa criadora de tecnologia para a àrea do babysitting,
            satisfazendo as necessidade das nossas clientes e babysitters.</span>

    </div>
</div>
<div class="jumbotron jumbotron-valores">
    <div class="container">
        <h2>Valores</h2>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <span> Integridade </span>
                    <!-- Procurar icons para os VALORES !-->
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <span> Responsabilidade Social </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <span> Respeito </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <span> Compromisso </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-instagram">
    <div class="container">
        <p><h2>Partilhe a sua história</h2></p>
        <span>Siga-nos no Instagram <a class="link-instagram" href="https://www.instagram.com/pampermeportugal/">@pampermeportugal</a></span>

    </div>
</div>








