<div class="jumbotron jumbotron-registar fill">
    <!--Normal regist form-->
    <div class="container">
        <div class="form-position">
            <form class="form-signin" action="/login" method="post">
                <h2 class="form-signin-heading">Entrar</h2>
                <div class="form-group">
                    <label for="exampleInputEmail1">Endereço de email</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Endereço de Email" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Palavra-passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Palavra-passe" required>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
            </form>
            {{#if hasErrors}}
                <div class="alert alert-danger" style="margin-top: 20px">
                    <h5>{{{error}}}</h5>
                </div>
            {{/if}}
            <hr>
            <!--Social Buttons-->
            <a class="btn btn-block btn-social btn-facebook" onclick="login()">
                <span class="fa fa-facebook"></span>Entrar com Facebook
            </a>
            <a style="opacity: 0.4;" class="btn btn-block btn-social btn-google" href="#">
                <span class="fa fa-google"></span>Entrar com a conta Google
            </a>
        </div>
    </div>

</div>