<div class="jumbotron jumbotron-missao fill no-margin">
    <div class="container">
        <h1>Missão</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="/babysitter/babysitter_list" class="link-profile">
                    <div class="thumbnail">
                        <div class="thumb-img">
                            <img src="img/cara-girl.jpg" class="img-circle img-profile">
                        </div>
                        <span class="thumb-name">Joana Maria </span>
                        <span class="thumb-age pull-left">18 Anos</span>
                        <span class="thumb-price">10€ /hora</span>
                        <span class="thumb-description">Sou fixe, sou bacana sou demais!</span>
                    </div>
                </a>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="#" class="link-profile">
                    <div class="thumbnail">
                        <div class="thumb-img">
                            <img src="img/cara-girl.jpg" class="img-circle img-profile">
                        </div>
                        <span class="thumb-name">Joana Maria </span>
                        <span class="thumb-age pull-left">18 Anos</span>
                        <span class="thumb-price">10€ /hora</span>
                        <span class="thumb-description">Sou fixe, sou bacana sou demais!</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="#" class="link-profile">
                    <div class="thumbnail">
                        <div class="thumb-img">
                            <img src="img/cara-girl.jpg" class="img-circle img-profile">
                        </div>
                        <span class="thumb-name">Joana Maria </span>
                        <span class="thumb-age pull-left">18 Anos</span>
                        <span class="thumb-price">10€ /hora</span>
                        <span class="thumb-description">Sou fixe, sou bacana sou demais!</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="#" class="link-profile">
                    <div class="thumbnail">
                        <div class="thumb-img">
                            <img src="img/cara-girl.jpg" class="img-circle img-profile">
                        </div>
                        <span class="thumb-name">Joana Maria </span>
                        <span class="thumb-age pull-left">18 Anos</span>
                        <span class="thumb-price">10€ /hora</span>
                        <span class="thumb-description">Sou fixe, sou bacana sou demais!</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="#" class="link-profile">
                    <div class="thumbnail">
                        <div class="thumb-img">
                            <img src="img/cara-girl.jpg" class="img-circle img-profile">
                        </div>
                        <span class="thumb-name">Joana Maria </span>
                        <span class="thumb-age pull-left">18 Anos</span>
                        <span class="thumb-price">10€ /hora</span>
                        <span class="thumb-description">Sou fixe, sou bacana sou demais!</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="#" class="link-profile">
                    <div class="thumbnail">
                        <div class="thumb-img">
                            <img src="img/cara-girl.jpg" class="img-circle img-profile">
                        </div>
                        <span class="thumb-name">Joana Maria </span>
                        <span class="thumb-age pull-left">18 Anos</span>
                        <span class="thumb-price">10€ /hora</span>
                        <span class="thumb-description">Sou fixe, sou bacana sou demais!</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="#" class="link-profile">
                    <div class="thumbnail">
                        <div class="thumb-img">
                            <img src="img/cara-girl.jpg" class="img-circle img-profile">
                        </div>
                        <span class="thumb-name">Joana Maria </span>
                        <span class="thumb-age pull-left">18 Anos</span>
                        <span class="thumb-price">10€ /hora</span>
                        <span class="thumb-description">Sou fixe, sou bacana sou demais!</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="#" class="link-profile">
                    <div class="thumbnail">
                        <div class="thumb-img">
                            <img src="img/cara-girl.jpg" class="img-circle img-profile">
                        </div>
                        <span class="thumb-name">Joana Maria </span>
                        <span class="thumb-age pull-left">18 Anos</span>
                        <span class="thumb-price">10€ /hora</span>
                        <span class="thumb-description">Sou fixe, sou bacana sou demais!</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="#" class="link-profile">
                    <div class="thumbnail">
                        <div class="thumb-img">
                            <img src="img/cara-girl.jpg" class="img-circle img-profile">
                        </div>
                        <span class="thumb-name">Joana Maria </span>
                        <span class="thumb-age pull-left">18 Anos</span>
                        <span class="thumb-price">10€ /hora</span>
                        <span class="thumb-description">Sou fixe, sou bacana sou demais!</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="#" class="link-profile">
                    <div class="thumbnail">
                        <div class="thumb-img">
                            <img src="img/cara-girl.jpg" class="img-circle img-profile">
                        </div>
                        <span class="thumb-name">Joana Maria </span>
                        <span class="thumb-age pull-left">18 Anos</span>
                        <span class="thumb-price">10€ /hora</span>
                        <span class="thumb-description">Sou fixe, sou bacana sou demais!</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="#" class="link-profile">
                    <div class="thumbnail">
                        <div class="thumb-img">
                            <img src="img/cara-girl.jpg" class="img-circle img-profile">
                        </div>
                        <span class="thumb-name">Joana Maria </span>
                        <span class="thumb-age pull-left">18 Anos</span>
                        <span class="thumb-price">10€ /hora</span>
                        <span class="thumb-description">Sou fixe, sou bacana sou demais!</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="#" class="link-profile">
                    <div class="thumbnail">
                        <div class="thumb-img">
                            <img src="img/cara-girl.jpg" class="img-circle img-profile">
                        </div>
                        <span class="thumb-name">Joana Maria </span>
                        <span class="thumb-age pull-left">18 Anos</span>
                        <span class="thumb-price">10€ /hora</span>
                        <span class="thumb-description">Sou fixe, sou bacana sou demais!</span>
                    </div>
                </a>
            </div>
        </div>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="clearfix hidden"></div>
                <div class="btn-group pull-left">
                    <a href="entrar.html" class="btn btn-primary navbar-btn">Entrar</a>
                    <a href="registar.html" class="btn btn-success navbar-btn">Registar</a>
                </div>
                <div class="btn-group move-group">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="btn-group pull-right">
                    <a href="entrar.html" class="btn btn-primary navbar-btn">Entrar</a>
                    <a href="registar.html" class="btn btn-success navbar-btn">Registar</a>
                </div>
            </div>
        </nav>
    </div>
</div>