<div class="fill no-margin">
    <div class="container">
        <div class="row">
            <div   class="col-lg-4 col-lg-offset-4">
                <h2>Escolha o tipo de conta</h2>
                <ul class="nav nav-pills"   style="margin-left: 90px">
                    <li role="presentation" class="btn-fl-bbsitter active"><a href="#">Babysitter</a></li>
                    <li role="presentation" class="btn-fl-client"><a href="#">Família</a></li>
                </ul>
                <div class="form-group fl-client">
                    <form method="post" action="firstLogin/client">
                        <label for="clienteName">Nome</label><br>
                        <input type="input" class="form-control" id="clienteName" name="name"/><br>
                        <label for="clienteAddres">Morada</label><br>
                        <input type="input" class="form-control" id="clienteAddres" name="address"/><br>
                        <label for="clientPhone">Telefone</label><br>
                        <input type="input" class="form-control" id="clientPhone" name="phone"/><br>
                        <button class="btn btn-bitbucket btn-block"> Confirmar Dados </button>
                    </form>
                </div>
                <div class="form-group fl-bbsitter">
                    <form method="post" action="firstLogin/babysitter">
                        <label for="sitterNome">Nome</label><br>
                        <input type="input" class="form-control" id="sitterNome" name="name"/><br>
                        <label for="dayMonth">Aniversário</label><br>
                        <input type="text" class="form-control" id="dayMonth" placeholder="Aniversário"  name="birthday"><br>
                        <label for="sitterLocation">Localidade</label><br>
                        <input type="input" class="form-control" id="sitterLocation" name="location"/><br>
                        <label for="sitterPhone">Telefone</label><br>
                        <input type="input" class="form-control" id="sitterPhone" name="phone"/><br>
                        <label for="sitterPrice">Preço</label><br>
                        <input type="number" class="form-control" id="sitterPrice" name="price"/><br>
                           <label for="sitterDescription">Descrição</label><br>
                        <textarea rows="5" class="form-control" id="sitterDescription" name="description"></textarea><br>
                        <button class="btn btn-bitbucket btn-block"> Confirmar Dados </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

