<form class="form-signin" method="post" action="/user/schedule">
    <h2 class="form-signin-heading">Agendar</h2>
    <div class="form-group">
        <input type="time" id="startHour" name="startHour">
        <input type="number" id="duration" name="duration">
        <button class="btn btn-lg btn-success" type="submit">procurar</button>
    </div>
    <div class="result-schedule">

    </div>


</form>