<div>
    {{#if data}}
        {{#each data}}
            <div>{{this.id_visits}}</div>
            <div>{{this.date}}</div>
        {{/each}}
    {{else}}
        <div class="container">
            <h1 style="padding: 100px 0;">Não existem Dados.</h1>
        </div>
    {{/if}}
</div>