<div class="container">
    {{# if data}}
        {{#each data}}
            <a class="profile-sitter" href="/user/scheduling/babysitter/{{this.uid}}"><div>{{this.name}}</div></a>
        {{/each}}
    {{else}}
        <div class="container">
            <h1 style="padding: 100px 0;">Não existem Dados.</h1>
        </div>
    {{/if}}
</div>