<div>
    {{# if babysitters}}
        {{#each babysitters}}
            <a class="profile-sitter" href="/user/scheduling/babysitter/{{this.uid}}"><div>{{this.name}}</div></a>
        {{/each}}
    {{/if}}

    {{# if visits}}
        {{#each visits}}
            <div>{{this.id_visits}}</div>
            <div>{{this.date}}</div>
        {{/each}}
    {{/if}}
</div>